body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: azure;
}

#root {
  margin-top: 150px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li {
  margin: 20px;
  border: grey 1px solid;
  padding: 15px;
}

li h2 {
  margin: 0;
}

button {
  font-size: 1em;
}
